*{
   margin: 0px;
   padding: 0px;
   font-size: 15px;
   color:black;
}
body{
   background-color: white;  
}
.container {
   display: flex;
   flex-wrap: wrap;
 }
 
 .container > div {
   background-color: aquamarine;
   width: 160px;
   height: 100px;
   margin: 1em;
 }
 
 .clear {
   background-color: bisque;
 }