*{
   margin: 0px;
   padding: 0px;
   font-size: 15px;
   color:white;
}
body{
   background-color: white;  
}
section{
   margin: auto;
   width: 700px;
   background-color: blue;
}
img{
   margin: 0px 0px 15px 15px;
   float:right;
}