*{
   font-size: 15px;
   color:black;
}
body{
   background-color: white;  
}

.content{ 
   min-height: 500px;           
   height: 100%;  
   width:fit-content;
   max-width:600px;
   color: white;
   margin-left: auto;
   margin-right: auto;
   background-color: white;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.content>div:nth-child(2)
{
   box-sizing: border-box;
   margin-top:25px;  /* and that, will result in a 10px gap */
   background-color: white;
   border: 10px solid blue;
   width: 450px;
}
p{
   margin: 30px;
}
.content>div:first-child{
   
   background-color: white;
   width: 450px;
}
